.button-ok{
    background: url("../images/ok.jpg") no-repeat;
    background-size: 100%;
}
.button-reset{
    background: url("../images/reset.png") no-repeat;
    background-size: 100%;
}
.enter-icon{
    background: url("../images/enter.jpg") no-repeat;
    background-size: 100%;
}
.exit-icon{
    background: url("../images/exit1.jpg") no-repeat;
    background-size: 100%;
}
.treeNode-textBook{
    background: url("../images/book.jpg") no-repeat;
    background-size: 100%;
}
.treeNode-helpBook{
    background: url("../images/helpBook.jpg") no-repeat;
    background-size: 100%;

}
.exam-icon{
    background: url("../images/exam.jpg") no-repeat;
    background-size: 100%;
}
.document-icon{
    background: url("../images/document.jpg") no-repeat;
    background-size: 100%;
}
.search-icon{
    background: url("../images/search.jpg") no-repeat;
    background-size: 100%;
}
.add-icon{
    background: url("../images/add.jpg") no-repeat;
    background-size: 100%;
}
.delete-icon{
    background: url("../images/delete.jpg") no-repeat;
    background-size: 100%;
}
.del-icon{
    background: url("../images/del.jpg") no-repeat;
    background-size: 100%;
}
.refresh{
    background: url("../images/refresh1.jpg") no-repeat;
    background-size: 100%;
}
.read-icon{
    background: url("../images/read.jpg") no-repeat;
    background-size: 100%;
}
.user-icon{
    background: url("../images/user.jpg") no-repeat;
    background-size: 100%;
}
.question-icon{
    background: url("../images/question.jpg") no-repeat;
    background-size: 100%;
}
.download-icon{
    background: url("../images/download.jpg") no-repeat;
    background-size: 100%;
}
.systemSet-icon{
    background: url("../images/systemset.jpg") no-repeat;
    background-size: 100%;
}


