<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.pro.study_system.mapper.BigQuestionResultMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.pro.study_system.pojo.BigQuestionResult" >
    <id column="result_id" property="resultId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="result_desc" property="resultDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    result_id, question_id, result_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from big_question_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from big_question_result
    where result_id = #{resultId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from big_question_result
    where result_id = #{resultId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResultExample" >
    delete from big_question_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResult" >
    insert into big_question_result (result_id, question_id, result_desc
      )
    values (#{resultId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{resultDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResult" >
    insert into big_question_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resultId != null" >
        result_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="resultDesc != null" >
        result_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resultId != null" >
        #{resultId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="resultDesc != null" >
        #{resultDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResultExample" resultType="java.lang.Integer" >
    select count(*) from big_question_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update big_question_result
    <set >
      <if test="record.resultId != null" >
        result_id = #{record.resultId,jdbcType=INTEGER},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=INTEGER},
      </if>
      <if test="record.resultDesc != null" >
        result_desc = #{record.resultDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update big_question_result
    set result_id = #{record.resultId,jdbcType=INTEGER},
      question_id = #{record.questionId,jdbcType=INTEGER},
      result_desc = #{record.resultDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResult" >
    update big_question_result
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="resultDesc != null" >
        result_desc = #{resultDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where result_id = #{resultId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.pro.study_system.pojo.BigQuestionResult" >
    update big_question_result
    set question_id = #{questionId,jdbcType=INTEGER},
      result_desc = #{resultDesc,jdbcType=VARCHAR}
    where result_id = #{resultId,jdbcType=INTEGER}
  </update>
</mapper>