<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.pro.study_system.mapper.ItemFileMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.pro.study_system.pojo.ItemFile" >
    <id column="item_file_Id" property="itemFileId" jdbcType="INTEGER" />
    <result column="grade_Id" property="gradeId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="file_id" property="fileId" jdbcType="INTEGER" />
    <result column="item_file_name" property="itemFileName" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="evaluate" property="evaluate" jdbcType="INTEGER" />
    <result column="resource_from" property="resourceFrom" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="download_price" property="downloadPrice" jdbcType="INTEGER" />
    <result column="entering_date" property="enteringDate" jdbcType="DATE" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_file_Id, grade_Id, subject_id, file_id, item_file_name, view_count, evaluate, 
    resource_from, author, download_price, entering_date, section_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.pro.study_system.pojo.ItemFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item_file
    where item_file_Id = #{itemFileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_file
    where item_file_Id = #{itemFileId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.pro.study_system.pojo.ItemFileExample" >
    delete from item_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.pro.study_system.pojo.ItemFile" >
    insert into item_file (item_file_Id, grade_Id, subject_id, 
      file_id, item_file_name, view_count, 
      evaluate, resource_from, author, 
      download_price, entering_date, section_id
      )
    values (#{itemFileId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{fileId,jdbcType=INTEGER}, #{itemFileName,jdbcType=VARCHAR}, #{viewCount,jdbcType=INTEGER}, 
      #{evaluate,jdbcType=INTEGER}, #{resourceFrom,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{downloadPrice,jdbcType=INTEGER}, #{enteringDate,jdbcType=DATE}, #{sectionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.pro.study_system.pojo.ItemFile" >
    insert into item_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemFileId != null" >
        item_file_Id,
      </if>
      <if test="gradeId != null" >
        grade_Id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="itemFileName != null" >
        item_file_name,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="resourceFrom != null" >
        resource_from,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="downloadPrice != null" >
        download_price,
      </if>
      <if test="enteringDate != null" >
        entering_date,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemFileId != null" >
        #{itemFileId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="itemFileName != null" >
        #{itemFileName,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=INTEGER},
      </if>
      <if test="resourceFrom != null" >
        #{resourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="downloadPrice != null" >
        #{downloadPrice,jdbcType=INTEGER},
      </if>
      <if test="enteringDate != null" >
        #{enteringDate,jdbcType=DATE},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.pro.study_system.pojo.ItemFileExample" resultType="java.lang.Integer" >
    select count(*) from item_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item_file
    <set >
      <if test="record.itemFileId != null" >
        item_file_Id = #{record.itemFileId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_Id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.fileId != null" >
        file_id = #{record.fileId,jdbcType=INTEGER},
      </if>
      <if test="record.itemFileName != null" >
        item_file_name = #{record.itemFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.viewCount != null" >
        view_count = #{record.viewCount,jdbcType=INTEGER},
      </if>
      <if test="record.evaluate != null" >
        evaluate = #{record.evaluate,jdbcType=INTEGER},
      </if>
      <if test="record.resourceFrom != null" >
        resource_from = #{record.resourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.downloadPrice != null" >
        download_price = #{record.downloadPrice,jdbcType=INTEGER},
      </if>
      <if test="record.enteringDate != null" >
        entering_date = #{record.enteringDate,jdbcType=DATE},
      </if>
      <if test="record.sectionId != null" >
        section_id = #{record.sectionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item_file
    set item_file_Id = #{record.itemFileId,jdbcType=INTEGER},
      grade_Id = #{record.gradeId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      file_id = #{record.fileId,jdbcType=INTEGER},
      item_file_name = #{record.itemFileName,jdbcType=VARCHAR},
      view_count = #{record.viewCount,jdbcType=INTEGER},
      evaluate = #{record.evaluate,jdbcType=INTEGER},
      resource_from = #{record.resourceFrom,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      download_price = #{record.downloadPrice,jdbcType=INTEGER},
      entering_date = #{record.enteringDate,jdbcType=DATE},
      section_id = #{record.sectionId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.pro.study_system.pojo.ItemFile" >
    update item_file
    <set >
      <if test="gradeId != null" >
        grade_Id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="itemFileName != null" >
        item_file_name = #{itemFileName,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=INTEGER},
      </if>
      <if test="resourceFrom != null" >
        resource_from = #{resourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="downloadPrice != null" >
        download_price = #{downloadPrice,jdbcType=INTEGER},
      </if>
      <if test="enteringDate != null" >
        entering_date = #{enteringDate,jdbcType=DATE},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
    </set>
    where item_file_Id = #{itemFileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.pro.study_system.pojo.ItemFile" >
    update item_file
    set grade_Id = #{gradeId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER},
      item_file_name = #{itemFileName,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      evaluate = #{evaluate,jdbcType=INTEGER},
      resource_from = #{resourceFrom,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      download_price = #{downloadPrice,jdbcType=INTEGER},
      entering_date = #{enteringDate,jdbcType=DATE},
      section_id = #{sectionId,jdbcType=INTEGER}
    where item_file_Id = #{itemFileId,jdbcType=INTEGER}
  </update>
</mapper>