<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.pro.study_system.mapper.QuestionsMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.pro.study_system.pojo.Questions" >
    <id column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="question_desc" property="questionDesc" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="INTEGER" />
    <result column="used_rate" property="usedRate" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="question_type" property="questionType" jdbcType="VARCHAR" />
    <result column="Question_analysis" property="questionAnalysis" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    question_id, subject_id, question_desc, difficulty, used_rate, create_time, question_type, 
    Question_analysis
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.pro.study_system.pojo.QuestionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from questions
    where question_id = #{questionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from questions
    where question_id = #{questionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.pro.study_system.pojo.QuestionsExample" >
    delete from questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.pro.study_system.pojo.Questions" >
    insert into questions (question_id, subject_id, question_desc, 
      difficulty, used_rate, create_time, 
      question_type, Question_analysis)
    values (#{questionId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{questionDesc,jdbcType=VARCHAR}, 
      #{difficulty,jdbcType=INTEGER}, #{usedRate,jdbcType=REAL}, #{createTime,jdbcType=DATE}, 
      #{questionType,jdbcType=VARCHAR}, #{questionAnalysis,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.pro.study_system.pojo.Questions" >
    insert into questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="questionDesc != null" >
        question_desc,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="usedRate != null" >
        used_rate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
      <if test="questionAnalysis != null" >
        Question_analysis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="questionDesc != null" >
        #{questionDesc,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="usedRate != null" >
        #{usedRate,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="questionAnalysis != null" >
        #{questionAnalysis,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.pro.study_system.pojo.QuestionsExample" resultType="java.lang.Integer" >
    select count(*) from questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update questions
    <set >
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.questionDesc != null" >
        question_desc = #{record.questionDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.difficulty != null" >
        difficulty = #{record.difficulty,jdbcType=INTEGER},
      </if>
      <if test="record.usedRate != null" >
        used_rate = #{record.usedRate,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.questionType != null" >
        question_type = #{record.questionType,jdbcType=VARCHAR},
      </if>
      <if test="record.questionAnalysis != null" >
        Question_analysis = #{record.questionAnalysis,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update questions
    set question_id = #{record.questionId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      question_desc = #{record.questionDesc,jdbcType=VARCHAR},
      difficulty = #{record.difficulty,jdbcType=INTEGER},
      used_rate = #{record.usedRate,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=DATE},
      question_type = #{record.questionType,jdbcType=VARCHAR},
      Question_analysis = #{record.questionAnalysis,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.pro.study_system.pojo.Questions" >
    update questions
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="questionDesc != null" >
        question_desc = #{questionDesc,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="usedRate != null" >
        used_rate = #{usedRate,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="questionType != null" >
        question_type = #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="questionAnalysis != null" >
        Question_analysis = #{questionAnalysis,jdbcType=VARCHAR},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.pro.study_system.pojo.Questions" >
    update questions
    set subject_id = #{subjectId,jdbcType=INTEGER},
      question_desc = #{questionDesc,jdbcType=VARCHAR},
      difficulty = #{difficulty,jdbcType=INTEGER},
      used_rate = #{usedRate,jdbcType=REAL},
      create_time = #{createTime,jdbcType=DATE},
      question_type = #{questionType,jdbcType=VARCHAR},
      Question_analysis = #{questionAnalysis,jdbcType=VARCHAR}
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
</mapper>